.login-div h2{
    color: #e12454;
}
.login-div input{
    border: 1px solid #e12454;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
    color: #000;
}
.login-div input::placeholder{
    color: #000;
    padding-left: 10px;
}
.login-div textarea{
    border: 1px solid #e12454;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
    color: #000;
}
.login-div select{
    border: 1px solid #e12454;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
    color: #000;
}