.footer-bg{
    background-color: #00294b;
}
.logo-text{
    font-size: 30px;
    color: #e12454;
}
.icon-font{
    font-size: 30px;
}
.social-icon{
    font-size: 30px;
    color:rgb(10, 10, 36);
}
.contact-info{
    background-color: transparent;
    outline: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px; 
    margin: 8px 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 0.5; /* Firefox */
  }

.copyright-text{
    background-color: #012847e0;
    color: rgb(122, 117, 117);
}
.icon-pr2{
    color: #e12454;
}
.icon-pr2:hover{
    color: #ffffff;
}